@import url(./__avatar/about-author__avatar.css);

@import url(./__title/about-author__title.css);

@import url(./_display-none/about-author_display-none.css);
.about-author{
  font-family: 'Roboto', Arial, sans-serif;
  color: #1a1b22;
  padding: 42px 40px 85px calc((100% - 1232px) / 2);
}

@media (min-width : 1375px) {
  .about-author {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 516px 600px;
  }
}

@media (min-width : 768px) {
  .about-author {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width : 944px) and (max-width : 1374px) {
  .about-author {
    padding: 42px calc((100% - 904px)) 59px 40px;
  }
}

@media (min-width : 768px) and (max-width : 943px) {
  .about-author {
    padding: 42px 40px 59px;
  }
}

@media (max-width : 767px) {
  .about-author {
    padding: 33px 5vw 80px;
  }
}