.button__disabled.button__disabled {
  background-color: #f1f1f1;
  color: rgb(162, 162, 162);
  cursor: default;
}

.button__disabled.button__disabled:hover {
  background-color: #f1f1f1;
  color: rgb(162, 162, 162);
}