
@import url(./__line/conteiner-text__line.css);
@import url(./__subtitle-bold/conteiner-text-bold.css);
@import url(./__subtitle/conteiner-text__subtitle.css);
@import url(./__title/conteiner-text__title.css);
@import url(./_display/conteiner-text_display.css);
.conteiner-text {
  font-family: 'Roboto', Arial, sans-serif;
  display: none;
  padding: 40px calc((100% - 1232px) / 2) 0;
}

@media (max-width : 1374px) {
  .conteiner-text {
    padding: 25px 40px 0;
  }
}

@media (max-width : 767px) {
  .conteiner-text {
    padding: 9px 5vw 9px;
  }
}