.list__rectangle_delete{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    background-image: url(../../../../images/delete.svg);
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    outline: none;
    cursor: pointer;
}
