.conteiner-text__subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 28px 0 0;
  display: inline-block;
}

@media(max-width : 1374px) {
  .conteiner-text__subtitle {
    font-size: 15px;
    margin: 15px 0 0;
  }
}

@media(max-width : 767px) {
  .conteiner-text__subtitle {
    font-size: 18px;
  }
}