.search__subtitle {
  max-width: 535px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  position: relative;
  margin: 33px 0 0;
  z-index: 1;
}

@media (max-width : 1311px) {
  .search__subtitle {
    max-width: 420px;
    margin: 16px 0 0 6px;
    padding: 0 32px 0 0;
  }
}

@media (max-width : 767px) {
  .search__subtitle {
    margin: -34px 0 0;
    padding: 0;
  }
}