.list__button{
    display:flex;
    justify-content:center;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
  
    cursor: pointer;
    
    border: none;
    z-index: 1;
    transition: all .5s linear;
    background: #FFFFFF;
    height: 64px;
    width: 288px;
    border-radius: 80px;
align-items: center;
    margin-top: 64px;
    
  }