.list__link {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #b6bcbf;
    margin-left:22px;
      margin-bottom: 24px;
  }
  
  @media (max-width : 1374px) {
    .list__link{
      margin-left:16px;
      margin-bottom: 26px;
    }
  }