@import url(../__rectangle/_normal/list__rectangle_normal.css);
@import url(../__rectangle/_active/list__rectangle_active.css);


.list__rectangle{
   
        width: 40px;
        height: 40px;
        border-radius: 8px;
        border: none;
        background-color: #fff;
       
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 1;
        outline: none;
        cursor: pointer
   }