@import url('./__button/popup__button.css');
@import url('./__title/popup__title.css');
@import url('./__iput/popup__input.css');
@import url('./__subtitle/popup__subtitle.css');
@import url('./__link/popup__link.css');
@import url('./__title-input/popup__title-input.css');
@import url('./__content/popup__content.css');
@import url('./__close/popup__close.css');
@import url('./_display/popup_display.css');
@import url('./__button-disabled/popup__button-disabled.css');
@import url(./__text/popup__text.css);
@import url(./__text/_dark/popup__text_dark.css);
@import url(./__button-registration/popup__button-registration.css);
.popup {
  font-family: 'Roboto', Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 5;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}